<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.pkrss.voicespeakking"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TTSTabActivity"
            android:label="@string/title_activity_ttstab"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.CustomFeedbackActivity" />



        <!-- 移动统计分析 -->
        <meta-data
            android:name="IFLYTEK_APPKEY"
            android:value="'56d58ca5'" />
        <meta-data
            android:name="IFLYTEK_CHANNEL"
            android:value="Android_Default" />
    </application>

</manifest>
